<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140593062342-k6fqb6iaf6n4g1jcchnbgasq7iavcktg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140593062342-k6fqb6iaf6n4g1jcchnbgasq7iavcktg</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Xk-1kB54AAWmlYBI4pV6tqP9PQhE70c</string>
	<key>GCM_SENDER_ID</key>
	<string>140593062342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFirstProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-first-project-62916</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-project-62916.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140593062342:ios:db93a2df60c76bc29052c7</string>
</dict>
</plist>